<section>
    <div class="content">
        <button class="btn btn-primary" ng-click="vm.restoreData()">Restore local data</button>
        <button class="btn btn-default" ng-click="vm.transformData()">Transform data</button>
    </div>
    <table class="table table-striped table-bordered table-paged table-fixed">
      <thead>
      <tr>
          <th class="text-center date">Date</th>
          <th class="text-center mid-number">Type</th>
          <th>Message</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="log in vm.logs">
            <td class="text-center date">{{ log.date | date:'dd-MM-yyyy'}}</td>
            <td class="text-center mid-number">{{ log.type }}</td>
            <td>{{ log.message }}</td>
        </tr>
      </tbody>
  </table>
</section>