.table-paged {
  margin-bottom: 100px;
}

.table-fixed {
  table-layout: fixed;
}

.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child,
.table > tfoot > tr > td:first-child{
  padding-left: 35px;
}

.table > thead > tr > th:last-child,
.table > tbody > tr > td:last-child,
.table > tfoot > tr > td:last-child{
  padding-right: 35px;
}

thead th:hover {
  background-color: #fafafa;
}

.table > thead > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0px;
}

td.small-number, th.small-number {
    width: 80px;
}

td.date, th.date {
  width: 95px;
}

td.mid-number, th.mid-number {
    width: 125px;
}

td.date, th.date {
    width: 150px;
}

.table td:last-child, .table th:last-child {
    width: 110px;
}

.data-table-footer {
  margin: 15px 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.data-table-footer .col-md-6 {
  padding: 10px 30px 20px;
}

.pagination {
  display: inline-block;
  -webkit-user-select: none;
}

.pagination li {
  display: inline-block;
  margin: 0 1px;
  vertical-align: top;
}

.pagination > li > a,
.pagination > li:first-child > a,
.pagination > li:last-child > a {
  border-radius: 50%;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 14px;
  z-index: 1;
  position: relative;
  text-decoration: none;
  color: #7e7e7e;
  background-color: #e2e2e2;
  border: 1px solid #ffffff;
  margin-left: -1px;
  cursor: pointer;
}

.pagination > li > a:hover,
.pagination > li > a:focus {
  color: #333333;
  background-color: #d7d7d7;
  border-color: #fff;
}

.pagination > li.active > a {
  background-color: #7992BF;
  color: #fff;
  border: 1px solid #fff;
}

.pagination > li.active > a:hover,
.pagination > li.active > a:focus {
  color: #fff;
  background-color: #6F88B5;
  border-color: #fff;
}

.pagination > li.disabled > a,
.pagination > li.disabled > a:hover,
.pagination > li.disabled > a:focus {
  background-color: #f2f2f2;
  color: #b2b2b2;
  border-color: #fff;
}


.pagination > li:not(.disabled) > a:before {
  left: 0;
  top: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  -ms-transform: scale3d(0, 0, 0);
  -o-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
  border-radius: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
}

.pagination > li:not(.disabled) > a:hover:before, .pagination > li > span:hover:before {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 0.8;
  filter: alpha(opacity=80);
}
