<div ng-controller="NavController as nav" class="container">
    <ul class="nav navbar-nav">
        <li ng-class="{ active: nav.isCurrentState('products') }">
            <a ui-sref="products"><span class="hidden-xs">Produits</span>&nbsp;<i class="fa fa-glass pull-right"></i> </a>
        </li>
        <li ng-class="{ active: nav.isCurrentState('customers') }">
            <a ui-sref="customers"><span class="hidden-xs">Clients</span>&nbsp;<i class="fa fa-group pull-right"></i></a>
        </li>
        <li ng-class="{ active: nav.isCurrentState('invoices') }">
            <a ui-sref="invoices"><span class="hidden-xs">Historique</span>&nbsp;<i class="fa fa-clock-o pull-right"></i></a>
        </li>
        <li ng-class="{ active: nav.isCurrentState('delivery-notes') }">
            <a ui-sref="delivery-notes"><span class="hidden-xs">Note d'envoi</span>&nbsp;<i class="fa fa-send pull-right"></i></a>
        </li>
        <li ng-if="vm.isAdmin" ng-class="{ active: nav.isCurrentState('admin') }">
            <a ui-sref="admin"><span class="hidden-xs">Admin</span>&nbsp;<i class="fa fa-motorcycle pull-right"></i></a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#" ng-click="nav.backup()">
          <i class="fa fa-cloud-upload" title="Synchroniser"></i>
        </a>
      </li>
    </ul>
</div>
